body {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
}
.clearfix::before,
.clearfix::after,
.row::before,
.row::after {
  content: "";
  display: table;
}
.clearfix::after,
.row::after {
  clear: both;
}
img {
  max-width: 100%;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Black"), local("Roboto-Black"),
    url("fonts/Roboto-Black.woff2") format("woff2"),
    url("fonts/Roboto-Black.woff") format("woff"),
    url("fonts/Roboto-Black.svg#Roboto-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("fonts/Roboto-Medium.woff2") format("woff2"),
    url("fonts/Roboto-Medium.woff") format("woff"),
    url("fonts/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Light"), local("Roboto-Light"),
    url("fonts/Roboto-Light.woff2") format("woff2"),
    url("fonts/Roboto-Light.woff") format("woff"),
    url("fonts/Roboto-Light.svg#Roboto-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Thin"), local("Roboto-Thin"),
    url("fonts/Roboto-Thin.woff2") format("woff2"),
    url("fonts/Roboto-Thin.woff") format("woff"),
    url("fonts/Roboto-Thin.svg#Roboto-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("fonts/Roboto-Bold.woff2") format("woff2"),
    url("fonts/Roboto-Bold.woff") format("woff"),
    url("fonts/Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-Regular"),
    url("fonts/Roboto-Regular.woff2") format("woff2"),
    url("fonts/Roboto-Regular.woff") format("woff"),
    url("fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.banner {
  background-image: url("image/1.jpg");
}
.banner h2 {
  text-align: center;
}
.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.margin {
  margin-top: 100px;
  margin-bottom: 100px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row .Rt {
  background-image: url("image/1009976.jpg");
}

.row .Et {
  background-image: url("image/1012600.jpg");
}

.row .Wn {
  background-image: url("image/1013808.jpg");
}

.row > div {
  float: left;
  width: 33%;
  color: #000000;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
}

.about-item .image {
  float: left;
  width: 25%;
}

.about-item .image img {
  height: 400px;
  width: 330px;
}

.about-item .about_head {
  width: 75%;
}

.about .pa .left img,
.hg .left img,
.ui .left img,
.wt .left img {
  height: 50px;
  width: 50px;
  margin-top: 30px;
  margin-left: 50px;
}

.about > div {
  float: left;
  width: 50%;
  color: #000000;
}

.about .left {
  float: left;
  width: 30%;
}

.about .right {
  width: 70%;
}

.feature .lefts {
  float: left;
  width: 33.33%;
}

.feature .middle {
  float: left;
  width: 33.33%;
}

.feature .rights {
  float: left;
  width: 33.33%;
}

.feature .left {
  float: left;
  width: 25%;
}

.feature .right {
  width: 75%;
}

.feature .fb .lefts .right p,
.ig .lefts .right p,
.tw .lefts .right p {
  margin-top: 0px;
}

.feature .fb .middle .right p,
.ig .middle .right p,
.tw .middle .right p {
  margin-top: 0px;
}

.feature .fb .rights .right p,
.ig .rights .right p,
.tw .rights .right p {
  margin-top: 0px;
}

.row .bg {
  padding: 50px;
}

.feature {
  text-align: center;
}

.feature > div {
  float: left;
  width: 33.33%;
}

.button {
  text-align: center;
}

.blog {
  text-align: center;
}

.blogs > div {
  text-align: center;
  float: left;
  width: 50%;
}

.blogs .left {
  float: left;
  width: 50%;
}
.blogs .left img {
  width: 1000px;
  height: 200px;
}

.blogs .right {
  float: left;
  width: 50%;
  padding: 3%;
  background-color: aqua;
}

.blogs .right p {
  margin-bottom: 0px;
}

.thoughts .left {
  float: left;
  text-align: right;
  width: 50%;
}

.thoughts .left p {
  padding: 5px;
  margin-left: 10px;
}

.thoughts .right {
  width: 50%;
  float: left;
}

.thoughts .right img {
  width: 500px;
  padding: 15px;
  margin-left: 100px;
  /* margin-right: -15px; */
}

span {
  font-size: 50px;
}

.photos .images {
  float: left;
  width: 50%;
}

/* .photos .videos {
  float: left;
  width: 50%;
} */

.images img {
  height: 100px;
  width: 100px;
}

.images1 img {
  height: 200px;
  width: 400px;
}

.photos .videos video {
  height: 250px;
  width: 500px;
}

footer {
  background-color: #00ffff;
}

footer .container > div {
  float: left;
  text-align: left;
  width: 33.33%;
}
.menu .menu3 {
  float: left;
  width: 25%;
}

.menu .menu3 ul,
.menu2 ul,
.tours ul,
.contact ul {
  padding-left: 0%;
  list-style: none;
}
.menu .menu2 {
  float: left;
  width: 75%;
}

.menu h3 {
  margin-bottom: 0px;
}

footer p {
  text-align: center;
}
